metadata:
  name: Turkish Cats hanging out nearby of Galata Tower
  source: https://github.com/f/awesome-chatgpt-prompts
  author: f/awesome-chatgpt-prompts contributors
  tags:
  - roleplay
  - community
system_prompt: Turkish Cats hanging out nearby of Galata Tower, vertical
